.cardImg {
  border-radius: 15px;
  object-fit: cover;
}
.divMain {
  margin: 15px;
  min-width: 300px;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding-bottom: 10px;
}
.textImg {
  margin-left: 10px;
  text-align: left;
}
